<!DOCTYPE html>

<html>

<head>
  <title>Dashboard</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-vivid.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i></button>
  <span class="w3-bar-item w3-right w3-text-red"><a href="/index"><b><em>DynamicSequence</em></b></a></span>
</div>

<nav class="w3-sidebar sbar w3-collapse w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <br><span><h3>Welcome, <b><%= name %></b></h3></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-bar-block">
    <div class="sbtn w3-card-4"><a href="#" class="w3-bar-item w3-button w3-padding-8"><h3> Overview</h3></a></div>
    <div class="sbtn w3-card-4"><a href="#" class="w3-bar-item w3-button w3-padding-8"><h3> Global Alignments</h3></a></div>
    <div class="sbtn w3-card-4"><a href="#" class="w3-bar-item w3-button w3-padding-8"><h3> Local Alignments</h3></a></div>
    <div class="sbtn w3-card-4"><a href="#" class="w3-bar-item w3-button w3-padding-8"><h3> SemiLocal Alignments</h3></a></div>
    <div class="sbtn w3-card-4"><a href="#" class="w3-bar-item w3-button w3-padding-8"><h3> Settings</h3></a></div>
    <div class="sbtn w3-card-4"><a href="#" class="w3-bar-item w3-button w3-padding-8"><h3> Sign Out</h3></a></div>
  </div>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <header class="w3-container" style="padding-top:22px">
    <h4 style="padding-left: 8px;"><b>Stats</b></h4>
  </header>
  
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container btn-stat w3-padding-16 w3-card-4">
        <div class="w3-left"><h3><b>Total</b></h3></div>
        <div class="w3-right">
          <h3 class="value"><%= totalVal %></h3>
        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container btn-stat w3-padding-16 w3-card-4">
        <div class="w3-left"><h3><b>Global</b></h3></div>
        <div class="w3-right">
          <h3 class="value"><%= globalVal %></h3>
        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container btn-stat w3-padding-16 w3-card-4">
        <div class="w3-left"><h3><b>Local</b></h3></div>
        <div class="w3-right">
          <h3 class="value"><%= localVal %></h3>
        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container btn-stat w3-padding-16 w3-card-4">
        <div class="w3-left"><h3><b>SemiLocal</b></h3></div>
        <div class="w3-right">
          <h3 class="value"><%= semiLocalVal %></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0">
      <div>
        <h4><b>Recent</b></h4>
        <table class="w3-table w3-striped w3-card-4 w3-white">
         <tr><th style="border-radius: 10px 0 0 0;">Alignment ID</th>
            <th>Alignment Category</th>
            <th>Alignment Score</th>
            <th style="border-radius: 0 10px 0 0;">Timestamp</th>
          </tr>
          <% vals.forEach(function(val) {%>
            <tr>
              <td><%= val.id %></td>
              <td><%= val.category %></td>
              <td><%= val.value %></td>
              <td><%= val.stamp %></td>
            </tr>
          <% });%>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/dashboard.js"></script>

</body>
</html>